# Ignore specific file types 
*.xml
*.html
*.class
*.lock
*.bin
*.ser
*.probe
*.css
*.gradle
*.css
*.bat
*.js
*.properties
*.toml
*.json
*.gradle/vcs-1/gc.properties
*.gradle/file-system.probe
*.gradle/8.8/checksums/checksums.lock
*.gradle/8.8/dependencies-accessors/d7f838bb16dc243bdd05bfa8f75ef956f6209f3c/sources/org/gradle/accessors/dm/LibrariesForLibs.java
*.gradle/8.8/dependencies-accessors/d7f838bb16dc243bdd05bfa8f75ef956f6209f3c/sources/org/gradle/accessors/dm/LibrariesForLibsInPluginsBlock.java
*.gradle/8.8/dependencies-accessors/gc.properties
*.gradle/8.8/fileChanges/last-build.bin
*.gradle/8.8/fileHashes/fileHashes.bin
*.gradle/8.8/fileHashes/fileHashes.lock
*.gradle/8.8/gc.properties
*.gradle/buildOutputCleanup/cache.properties
*.gradle/file-system.probe
*.gradle/nb-cache/trust/9818086AB50B42B47CD6966DE013700DA7D5D1677571736DECD2C1C4B78E075A
*.gradle/vcs-1/gc.properties
